# Sentry (опционально: для production задайте свои значения)
# Сгенерировать ключ: openssl rand -hex 32
SENTRY_SECRET_KEY=2253db008a2edfed8951afd85bcb69dbacd55e685a7feb915247a128aa884d90
SENTRY_POSTGRES_PASSWORD=sentry
